<!doctype html>
<html lang="en">
<head data-th-fragment="headFragment(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>data-th-text="${title}"</title>

    <link data-th-href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <!-- 31 Шрифты -> ссылка в CSS  -->
    <link rel="stylesheet"
          data-th-href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css}">

    <!-- 30 Введение -> ссылка в CSS  -->
</head>
<body>

<div data-th-fragment="scriptsFragment">     <!-- 32 Java скрипты  позволит получать эффекты (всплывающие окна)-->
    <script type="text/javascript" data-th-src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
    <script data-th-src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js}"></script>
</div>
</body>
</html>