<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All Products</h1>
    <form>
        <input name="search" type="search">
        <button type="submit">Поиск</button>
    </form>
    <body>
    <u1 class="collection">
        <li class="collection-item" data-th-each="product : ${products}">
            <a data-th-href="@{/products/{id}(id=${product.id})}">
                <span data-th-text="${product.name}"></span>
            </a>
        </li>
    </u1>
    </body>
</body>
</html>