<!doctype html> <!--     04    Создаем тело страницы-->
<html lang="en">  <!--     24 прописывать name space   xmlns: th= "http thymleaf "-->
<head>
    <head data-th-replace="fragments/layout :: headFragment(title='All Products')"></head>
</head>
<body>
<h1>McDonalds Products</h1>
<form>
    <form data-th-action="@{/search}">
        <input name="name" type="search" class="item-search" data-th-value="${name}">
        <button class="waves-effect waves-light btn" type="submit">Поиск</button>
    </form>
</form>


<body>
<div class="container">
    <div class="row">
        <div class="col s6">
            <u1 class="collection">
                <h1>Products</h1>
                <li class="collection-item" data-th-each="product : ${products}">
                    <img data-th-src="${product.picture}">
                    <a data-th-href="@{/products/{id}(id=${product.id})}">

                        <span data-th-text="${product.name}"></span>


                    </a>
                </li>
            </u1>
        </div>
    </div>
</div>






</body>
</body>
</html>



